img{
    height: 130px;
    width: 200px;
    overflow: hidden;

    border: solid 1px gray;
    margin: 8px;
    box-shadow: 12px 12px 2px rgba(95, 95, 97, 0.2)
}

.logo-img{
    box-shadow:none;
    border: none;
    margin:none;

    height:auto;
    width: 270px;
}

.Archive{
    position: absolute;
}

.btn-remove-archive-img{
    position: relative;
}