@font-face {
    font-family: Huninn;
    src: url('/fonts/Huninn-Regular.ttf');
}

@font-face {
    font-family: LibertinusSans;
    src: url('/fonts/LibertinusSans-Regular.ttf');
}

@font-face {
    font-family: PlaywriteMXGuides;
    src: url('/fonts/PlaywriteMXGuides-Regular.ttf');
}